body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.img-profile {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 100%;
}

.profile-img-container {
  display: block;
  max-width: fit-content;
  border-radius: 100%;
}

.ul-nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 16px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2px;
  background-color: rgb(250, 247, 255);
  border-bottom: solid 1px rgba(38, 0, 104, 0.1);
}

li {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: medium;
  color:  rgba(90, 90, 90, 0.5);
}

input {
  border: solid 1px  rgba(38, 0, 104, 0.08);
  border-radius: 20px;
  width: 40dvw;
  height: 40px;
  padding-left: 15px;
}

button {
  border: none;
  border-radius: 20px;
  background-color: rgb(55, 16, 146);
  color: white;
  margin-left: 10px;
  padding: 12px 32px;
}


.search-container {
  display: flex;
  flex-direction: row;
}

.logo {
  color: rgb(55, 16, 146);
  margin-right: 32px;
}

.active {
  font-weight: bold;
  color: rgb(55, 16, 146);
}

.menu-nav {
  flex-direction: column;
  gap: 6dvh;
  align-items: start;
  padding-right: 20px;
  padding-top: 20px;
  height: 100dvh;
  border-right: solid 2px rgb(250, 247, 255);
  margin: 0;
  display: none;
  transform: translateX(-60dvw);
  
}

.icon {
  width: 20px;
  fill:  rgba(126, 126, 126, 0.568);
}

.icon-active {
  fill:  rgb(55, 16, 146);
}

.menu {
  position: fixed;
  left: -10px;
}

.settings {
  position: absolute;
  top: 80%;
}

.hamburger {
  display: none;
  justify-content: center;
  align-items: center;
}

.active-menu {
  
  transform: translateX(60dvw);
}

.icon-search {
  width: 20px;
  fill:  white;
  display: none;
}


@media (max-width : 1024px) {
  .ul-nav {
    display: none;
    overflow: hidden;
  }

  .navbar {
    gap: 1dvw;
    justify-content: space-around;
  }

  .menu-nav {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width : 530px) {
  .hamburger {
    display: none;
  }

  .search-text {
    display: none;
  }

  .icon-search {
    display: flex;
    width: 18px;
    height: 18px;
  }

  button {
    padding: 10px 12px;
    border-radius: 100%;
  }
}